*{
  box-sizing: border-box;
  font-family: 'Inter';
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

li{
  list-style-type: none;
}

.company-name{
  position: absolute;
  display:flex;
  justify-content: space-between;
  left: 42.5%;
  top: 30%;
}

.logoAlt{
  position: absolute;
  left:45%;
  top: 14%;
}

.course{
  font-size: 40px;
  margin-left: 20px;
}
.purple{
  color: #9980E1;
  margin-right: 20px;
  font-size: 40px;
}

.nav{
  display: flex;
  height:100px;
  align-items: center;
}

.aboutLi{
  display: flex;
}

.h2About{
  font-size: 30px;
}

.About{
  width: 200px;
  height: 90px;
  background-color: transparent;
  border: none;
  position:absolute;
  right:auto;
  left:85%;
  bottom: 90%;
  top:3%

}

.About:hover{
  background-color:#9980E1;
  border-radius: 10px;
}



.input{
  margin-top: 4px;
  margin-left: 32%;
  width: 500px;
  height: 70px;
  border-radius: 10px;
}

input,
.imput::placeholder{
  font-size: 24px;
  padding-left: 20px;
}

.waitlist{
  margin-top: 255px;
  margin-bottom: 120px;
  margin-left: 46%;
  color: gray;

}

.save{
  height: 70px;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  background-color:#9980E1;
  border:none;
  width: 200px;
  box-shadow: 0px 2px 3px 0px black;
  
  margin-left: 15px;
}

.save:hover{
  background-color: #8871cc ;
}

.save:active{
  background-color: #635491 ;
 
}

.delete{
  background-color:#9980E1;
  height: 70px;
  width:180px;
  font-size: 25px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 5px;
  margin-left: 44%;
  margin-top: 20px;
}

.delete:hover{
  background-color: #8871cc ;
}

.delete:active{
  background-color: #635491 ;

}

.thank-you{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-decoration: bold ;
  color:white
}

.thankBtn{
  border: none;
  width: 20%;
  margin-left: 40.2%;
  background:#9980E1;
  border-radius: 15px;
}

.thankBtn:hover{
  background-color: #8871cc;
}

.thankBtn:active{
  background-color: #635491;
}



